{% extends 'main/layout.html' %}
{% load static %}

    
    
{% block title %} 
    Вторая страница
{% endblock%}



{% block content %}
    <div class="fact">
    <h1> Что, где, как и когда?</h1>
    <p> Начнем с самого главного... </p>
    <p>
        Этот сайт – мой первый проект, мой виртуальный хроникон, где программист в меня погружается в мир кода, фермер дает жизнь виртуальным посевам знаний, а мотоциклист прокладывает свои цифровые трассы. Начало было скромным, но с течением времени и опыта этот веб-ресурс постоянно преобразуется и улучшается, словно растущее поле, на котором ухаживают за каждым цветком виртуального контента.
    </p>
    <p>
        Здесь, в этом многогранном проекте, взаимодействуют разные аспекты моей личности. Программист внедряет новые функции, оптимизирует код, делая виртуальное пространство более функциональным. Фермер трудится, сея зерна информации, ухаживая за ростом и развитием идей. А мотоциклист, свободный и быстрый, поддерживает динамичность и энергию всего проекта, как ветер в спину.
    </p>
    <p>
        Таким образом, мой первый проект – это не только результат моих усилий, но и отражение разнообразия того, кто я есть. Вместе с ним я исследую, учусь и расту, создавая цифровой след в просторах интернета.
    </p>
    <p>
        На данный момент, 19 ноября 2023 года, мне всего 17 лет, и это лишь начало моего увлекательного пути. Возможности передо мной кажутся бескрайними, и я не собираюсь останавливаться. В этом виртуальном проекте, как и в жизни, каждый день — новое приключение, новый вызов.
    </p>
    <p>
        Мой возраст лишь подчеркивает, что впереди ещё столько интересного и неизведанного. Я готов встречать новые идеи, учиться, расти и прокладывать свой путь в этом цифровом лабиринте. Этот сайт, словно мой собственный квест, становится площадкой для экспериментов и творчества, где я могу выражать себя и делиться своим взглядом на мир.
    </p>
    <p>
        Так что, с вдохновением и решимостью, я продолжаю двигаться вперёд, зная, что каждый шаг приближает меня к новым горизонтам.
    </p>
    <a href="{% url 'homes' %}" class="btn btn-danger">На Главную</a> 
{% endblock %}
