{% extends 'main/layout.html' %}
{% load static %}

    
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="Futhe">
        <h1>Главная страница</h1>
        <p> 
            Добро пожаловать на мой первый проект! Я - начинающий программист, влюбленный в мир кода и технологий. Здесь вы найдете результат моих усилий, творческий след в виртуальном пространстве. Мой сайт - это не просто страница в интернете, а мой личный кодовый этюд.  
            На этом сайте вы сможете найти мои контактные данные для связи, ссылки на мои проекты, где я воплощаю свои идеи в жизнь, а также обзоры моего кода. Погрузитесь в мир моих технологических экспериментов, изучайте и вдохновляйтесь! 
            Следите за обновлениями, ведь здесь всегда появляются новые идеи и проекты. Спасибо, что делитесь этим путешествием по моему кодовому миру вместе со мной!
        </p>
        <a href="{% url 'contact' %}" class="btn btn-warning">На старницу Контанктов</a>   
        <img src="{% static 'main/img/homes.jpg' %}" alt="Home">
        

    </div>
{% endblock %}
